<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnhd.base">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!-- 厂商通道 Android 12 兼容 Start -->
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:exported="true" />
        <service
            android:name="com.heytap.msp.push.service.CompatibleDataMessageCallbackService"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:exported="false" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:exported="false" />

        <receiver
            android:name="org.android.agoo.vivo.PushMessageReceiverImpl"
            android:exported="false" />
        <!-- 厂商通道 Android 12 兼容 End -->
    </application>
</manifest>